html, body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #7F2122;
    position: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/history.jpg);
    background-position: 100%;
    background-size: 100%;
}
#container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
p {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
a {
    text-decoration: none;
    transition: transform .2s;
}
a:hover {
    transform: scale(1.5);
}

