html, body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #7F2122;
    /* background-image: url(); */
}
.decoration {
    width: 100%;
    height: 20px;
    background-color: black;
}
#title_bar_legions {
    display: flex;
    justify-content: center;
    background-color: #E5DBB7;
    padding: 20px 0;
    background-image: url(/assets/legions.jpg);
    background-size: 100%;
    background-position: 100%;
}
#title_bar_legions p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container_legions {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
}
#main_legions {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
td, tr {
    border: 5px solid black;
}
.img-box {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: relative;
    overflow: visible;
    backface-visibility: hidden;
}
.img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s ease-in-out;
}
.img-box img:hover {
    transform: scale(1.5);
    z-index: 10;
    border: 5px solid black;
}
p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: black;
    transition: transform .2s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
}
p:hover {
    text-decoration: none;
    transform: scale(1.5);
}
