html, body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #7F2122;
}
.decoration {
    width: 100%;
    height: 20px;
    background-color: black;
}
/* SEKCJA NAGŁÓWKOWA *//* SEKCJA NAGŁÓWKOWA */
#navigation {
    width: 100%;
    height: 70px;
    background-color: #E5DBB7;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#navigation a {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
    padding: 20px;
    border-radius: 0px;
}
#navigation a:hover {
    background-color: black;
    color: white;
}
#title_bar {
    display: flex;
    justify-content: center;
    background-image: url(/assets/julius_assasination.png);
    background-size: auto;
    background-position: 100%;
}
#title_bar p {
    font-size: 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: transform .2s;
}
#title_bar p:hover {
    transform: scale(1.5);
}
/* SEKCJA NAGŁÓWKOWA *//* SEKCJA NAGŁÓWKOWA */

/* SEKCJA GŁÓWNA *//* SEKCJA GŁÓWNA */
#container {
    display: flex;
    /* flex: 1; */
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}
#main {
    flex: 3;
    background-color: #f5f5f5;    
    padding: 20px;        
    border-radius: 5px;
}
#side {
    flex: 1;
    background-color: #f0f0f0;   
    padding: 20px;  
    border-radius: 5px;        
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
#text1, #text2 {
    font-size: medium;
}

#source {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
#photo1 {
    width:100%;
    max-width:200px; 
    display:block; 
    margin-bottom:10px;
    border: 5px solid black;
}
#photo2 {
    width:100%; 
    max-width:400px; 
    display:block; 
    margin-bottom:10px;
    border: 5px solid black;
}
#photo3 {
    width:100%; 
    max-width:300px; 
    display:block; 
    margin-bottom:10px;
}
#photo4 {
    width:100%; 
    max-width:300px; 
    display:block; 
    margin-bottom:10px;
}
#text_a_1 {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
/* SEKCJA GŁÓWNA *//* SEKCJA GŁÓWNA */

/* SEKCJA STOPKI *//* SEKCJA STOPKI */
#footer {
    display: flex;
    justify-content: center;
    background-color: #E5DBB7;
    padding: 20px 0;
}
#footer p {
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* SEKCJA STOPKI *//* SEKCJA STOPKI */


