body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #7F2122;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
img {
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
    border: 10px solid black;
}
#container p {
    background-color: white;
    color: black; 
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    max-width: 800px;
    text-align: justify;
}
p {
    font-size: large;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 20px;
}
.decoration {
    width: 100%;
    height: 20px;
    background-color: black;
}
#title_bar_legions {
    display: flex;
    justify-content: center;
    background-color: #E5DBB7;
    padding: 20px 0;
    background-image: url(/assets/legions.jpg);
    background-size: 100%;
    background-position: 100%;
}
#title_bar_legions p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5DBB7;
    height: 45px;
    padding: 0;
}
#footer p {
    margin: 0;
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    transition: transform .2s;
}
a {
    text-decoration: none;
}
#footer p:hover {
    text-decoration: none;
    transform: scale(1.5);
}
h1 {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
